* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
}

/********************************/
/*******TOP-NAVIGATION-LOGO******/
/********************************/

.main-header {
	background-color: #1f2937;
	min-width: 100%;
	padding-bottom: 3em;
}

.logo {
	color: #f9faf8;
	font-size: 24px;
	font-weight: 900;
	font-style: normal;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 1.5em;
	max-width: 1200px;
}

.main-nav ul {
	display: flex;
	gap: 1.5em;
}

ul,
li,
a {
	text-decoration: none;
	list-style-type: none;
	color: #e5e7eb;
	font-size: 18px;
	font-weight: 100;
	font-style: normal;
}

li:hover {
	color: #3882f6;
}

.top {
	display: flex;
	justify-content: space-evenly;
	max-width: 1200px;
	margin: 4em auto;
	padding-top: 2em;
}

.top-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 490px;
	margin-right: auto;
}

.top-text > .button,
.top-btn {
	align-self: flex-start;
}

.top-image {
	max-height: 400px;
	height: auto;
}

h2 {
	color: #fafbf9;
	font-size: 48px;
	font-weight: 900;
	font-style: normal;
	line-height: 1.2em;
}

p {
	color: #f9faf8;
	font-size: 18px;
	font-style: normal;
	line-height: 1.5em;
}

/******************************/
/********MIDDLE-SECTION********/
/******************************/

.middle {
	width: 100%;
	margin-bottom: 5em;
}

.gallery {
	display: flex;
	gap: 2.5em;
	margin-top: 2em;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
}

h3 {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	color: #1f2937;
	font-size: 48px;
	font-weight: 900;
}

.gallery img {
	object-fit: cover;
	border-radius: 8px;
	margin-right: auto;
}

.gallery figcaption {
	color: #1f2937;
	text-align: center;
	min-height: 100px;
	width: 210px;
	font-size: 18px;
	font-weight: 100;
	font-style: normal;
	color: #1f2937;
	filter: contrast(20%);
}

.text {
	background-color: #e5e7eb;
}

/*****************************/
/********QUOTE-SECTION********/
/*****************************/

.quote {
	background-color: #e5e7eb;
	width: 100%;
	min-height: 350px;
	margin: 0;
}

 blockquote {
	font-size: 36px;
	color: #1f2937;
	font-style: italic;
	font-weight: 400;
	max-width: 870px;
	margin: 0 auto;
	padding-top: 2em;
}

blockquote .signature {
	font-weight: 900;
	font-style: normal;
	font-size: 20px;
	float: right; 
	padding-top: 2em;
}

q::before,
q::after {
	animation: dancing-quotes 1s linear infinite;
	display: inline-block;
	transform: rotate(13deg);
}

@keyframes dancing-quotes{
	0% {
		transform: rotate(13deg) scale(2);
	}

	25% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-13deg) scale(2);
	}

	75% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(13deg) scale(2);
	}
}

q {
	quotes: """ ;
}

/****************************/
/******SIGN-UP SECTION*******/
/****************************/

.cta {
	height: 250px;
	margin-bottom: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup {
	display: flex;
	justify-content: space-evenly;
	background-color: #3882f6;
	width: 70%;
	height: 130px;
	border-radius: 5px;
	margin-top: 4em;
}

.signup :last-child {
	align-self: center;
}

.action {
	display: flex;
	flex-direction: column;
}

.action p {
	font-size: 17px;
	font-weight: 100;
	color: #e5e7eb;
	filter: contrast(50%);
}

.action,
h4 {
	color: #e5e7eb;
	font-weight: 800;
	font-size: 24px;
	align-self: flex-start;
	margin-top: 0.7em;
}

/***************************/
/*******FOOTER*************/
/*************************/

footer {
	background-color: #1f2937;
	color: #e5e7eb;
	width: 100%;
	min-height: 100px;
}

.copyright {
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
	padding-top: 2.5em;
}

/*************************/
/*********BUTTONS*********/
/*************************/

.button {
	background-color: #3882f6;
	padding: 0.5em 2.8em;
	border-radius: 5px;
	color: #e5e7eb;
	margin-top: 0.7em;
	border: none;
	cursor: pointer;
	text-align: center;
}

.btn-bottom {
	border: 1px solid #e5e7eb;
}
