* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
}

/********************************/
/*******TOP-NAVIGATION-LOGO******/
/********************************/

.main-header {
	background-color: #1f2937;
	min-width: 100%;
	padding-bottom: 3.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.logo {
	color: #f9faf8;
	font-size: 24px;
	font-weight: 900;
	font-style: normal;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 1.5em;
	max-width: 1200px;
}

.main-nav ul {
	display: flex;
	gap: 1.5em;
}

ul,
li,
a {
	text-decoration: none;
	list-style-type: none;
	color: #e5e7eb;
	font-size: 18px;
	font-weight: 100;
	font-style: normal;
	transition: all 0.3s ease-in-out;
}

a:hover {
	color: #3882f6;
}

.top {
	display: flex;
	justify-content: space-evenly;
	max-width: 1200px;
	margin: 4em auto;
	padding-top: 2em;
}

.top-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 490px;
	margin-right: auto;
}

.top-text .button,
.top-btn {
	align-self: flex-start;
}

.top-image {
	object-fit: cover;
}

h2 {
	color: #fafbf9;
	font-size: 48px;
	font-weight: 900;
	font-style: normal;
	line-height: 1.2em;
}

p {
	color: #f9faf8;
	font-size: 18px;
	font-style: normal;
	line-height: 1.5em;
}

/******************************/
/********MIDDLE-SECTION********/
/******************************/

.middle {
	width: 100%;
	margin-bottom: 5em;
}

.gallery {
	display: flex;
	gap: 2.5em;
	margin-top: 2em;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
}

h3 {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	color: #1f2937;
	font-size: 48px;
	font-weight: 900;
}

.gallery img {
	object-fit: cover;
	border-radius: 8px;
	margin-right: auto;
}

.gallery figcaption {
	color: #1f2937;
	text-align: center;
	min-height: 100px;
	width: 210px;
	font-size: 18px;
	font-weight: 100;
	font-style: normal;
	color: #1f2937;
	filter: contrast(20%);
}

.text {
	background-color: #e5e7eb;
}

/*****************************/
/********QUOTE-SECTION********/
/*****************************/

.quote {
	background-color: #e5e7eb;
	width: 100%;
	min-height: 350px;
	margin: 0;
}

blockquote {
	font-size: 36px;
	color: #1f2937;
	font-style: italic;
	font-weight: 400;
	max-width: 870px;
	margin: 0 auto;
	padding-top: 2em;
}

blockquote .signature {
	font-weight: 900;
	font-style: normal;
	font-size: 20px;
	text-align: right;
	padding-top: 2em;
	color: #1f2937;
}

q::before,
q::after {
	animation: dancing-quotes 1s linear infinite;
	display: inline-block;
	transform: rotate(13deg);
}

@keyframes dancing-quotes {
	0% {
		transform: rotate(13deg) scale(2);
	}

	25% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-13deg) scale(2);
	}

	75% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(13deg) scale(2);
	}
}

/****************************/
/******SIGN-UP SECTION*******/
/****************************/

.cta {
	height: 250px;
	margin-bottom: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup {
	display: flex;
	justify-content: space-evenly;
	background-color: #3882f6;
	width: 70%;
	height: 130px;
	border-radius: 5px;
	margin-top: 4em;
}

.signup :last-child {
	align-self: center;
}

.action {
	display: flex;
	flex-direction: column;
}

.action p {
	font-size: 17px;
	font-weight: 100;
	color: #e5e7eb;
	filter: contrast(50%);
}

.action h4 {
	color: #e5e7eb;
	font-weight: 800;
	font-size: 24px;
	margin-top: 1.5em;
}

/***************************/
/*******FOOTER*************/
/*************************/

footer {
	background-color: #1f2937;
	color: #e5e7eb;
	width: 100%;
	min-height: 100px;
}

.copyright {
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
	padding-top: 2.5em;
}

/*************************/
/*********BUTTONS*********/
/*************************/

.button {
	background-color: #3882f6;
	padding: 0.5em 2.8em;
	border-radius: 5px;
	color: #e5e7eb;
	margin-top: 0.7em;
	border: none;
	cursor: pointer;
	text-align: center;
}

.btn-bottom {
	border: 1px solid #e5e7eb;
}

/***********************/
/******RESPONSIVE******/
/*********************/

@media screen and (max-width: 500px) {
	* {
		padding: 0.2em;
	}
	.top-nav {
		flex-direction: column;
	}
	.main-nav ul a {
		place-items: left;
		gap: 0.8em;
		font-size: 14px;
	}
	.logo {
		border-bottom: 2px solid #e5e7eb;
		margin-bottom: 0.3em;
		padding-bottom: 0.8em;
	}
	.top {
		flex-direction: column;
		gap: 2em;
	}
	h2 {
		font-size: 32px;
		border-bottom: 2px solid #e5e7eb;
	}

	.top-text {
		width: 100%;
	}

	.top-text p {
		font-size: 15px;
		text-align: center;
		margin: auto;
		padding-top: 0.5em;
		padding-bottom: 3em;
	}
	.btn-top {
		margin: auto;
	}

	.top-image img {
		width: 100%;
	}
}
/*************MIDDLE-SECTION**********/
@media screen and (max-width: 500px) {
	.gallery {
		flex-direction: column;
	}
}

/**************QUOTE-SECTION*********/
@media screen and (max-width: 500px) {
	.quote {
		width: 100%;
		margin: auto;
		padding: 1em;
		border-radius: 8px;
	}
}

/****************CALL-TO-ACTION**********/
@media screen and (max-width: 500px) {
	.signup {
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	.action {
		text-align: center;
	}
	footer.copyright {
		width: 100%;
	}
}
