* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/********************************/
/*******TOP-NAVIGATION-LOGO******/
/********************************/

.main-header {
	background-color: #1f2937;
}

.logo {
	color: #f9faf8;
	font-size: 24px;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
	padding-left: 11em;
	padding-right: 11em;
}

.main-nav ul {
	display: flex;
	gap: 2em;
}

ul,
li,
a {
	text-decoration: none;
	list-style-type: none;
	color: #e5e7eb;
	font-size: 18px;
}

.top {
	display: flex;
	justify-content: space-around;
}

.top-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 450px;
	padding: 3em;
}

.top-text,
button {
	align-self: flex-start;
}

.top-image {
	padding: 3em;
}

h2 {
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;
}

p {
	color: #e5e7eb;
	font-size: 18px;
}

/******************************/
/********MIDDLE-SECTION********/
/******************************/

h3 {
	color: #1f2937;
	font-size: 36px;
	font-weight: bolder;
}

img {
	object-fit: cover;
}

figcaption {
	color: #1f2937;
}

.text {
	background-color: #e5e7eb;
}

/*****************************/
/********QUOTE-SECTION********/
/*****************************/
.quote p {
	font-size: 36px;
	color: #1f2937;
	font-style: italic;
	font-weight: lighter;
}

/****************************/
/******SIGN-UP SECTION*******/
/****************************/
.signup {
	background-color: #3882f6;
}

h4 {
	color: #e5e7eb;
}

/***************************/
/*******FOOTER*************/
/*************************/

footer {
	background-color: #1f2937;
	color: #e5e7eb;
}

h3 {
	text-align: center;
}

.gallery {
	display: flex;
}

/*************************/
/*********BUTTONS*********/
/*************************/

.button {
	background-color: #3882f6;
	padding: 0.2em 2em;
	border-radius: 7px;
	color: #e5e7eb;
	margin-top: 0.3em;
}

.bottom {
	border: 1px solid #e5e7eb;
}
